extends layout

block content
    div.rowContentHeader.rowHeight(ng-init="init()")
        div.container
            h1.h1 #{title}
    div.rowContentReserve.rowHeight
        div.container
            div.top.col-lg-12
                form.form-horizontal(method="post", id="loginForm" ng-submit="joiner()" name="joinerForm" novalidate)
                    fieldset
                    div.form-group
                        label#whoWantsCoffeeLabel.col-lg-12.control-label WHO WANTS COFFEE?
                        div.col-lg-6.col-lg-offset-3
                            input.form-control(
                            id="shortname",
                            type="text",
                            name="shortname",
                            placeholder="ENTER YOUR NCA SHORTNAME",
                            ng-model="user.shortname"
                            ng-minlength="2"
                            ng-maxlength="3"
                            ng-required="true"
                            required="MANDATORY")
                        span.errorDisplay.col-lg-2.error(ng-show="joinerForm.shortname.$dirty && joinerForm.shortname.$error.required") Required
                        span.errorDisplay.col-lg-2.error(ng-show="joinerForm.shortname.$dirty && joinerForm.shortname.$error.minlength") Too Short
                        span.errorDisplay.col-lg-2.error(ng-show="joinerForm.shortname.$dirty && joinerForm.shortname.$error.maxlength") Too long!
                    div.form-group
                        div.col-lg-12
                            input.btn.btn-primary(type="submit", value="RESERVE" ng-disabled="joinerForm.shortname.$dirty && joinerForm.shortname.$invalid || joinerForm.shortname.$dirty && joinerForm.shortname.$invalid")
            div.col-lg-6
    div#insertCoffeeDiv.rowContentReserve.rowHeight
        div#close
        div.container
            div.top.col-lg-12
                form.form-horizontal(method="post", id="loginForm" ng-submit="newCoffee()")
                    fieldset
                    div.form-group
                        label#whoWantsCoffeeLabel.col-lg-12.control-label CREATE COFFEE
                        div.col-lg-6.col-lg-offset-3
                            input.form-control(
                            id="coffeeTime",
                            type="time",
                            name="coffeeTime",
                            placeholder="COFFETIME",
                            ng-model="coffeeTime"
                            required="MANDATORY")
                    div.form-group
                        label#whoWantsCoffeeLabel.col-lg-12.control-label PASSWORD
                        div.col-lg-6.col-lg-offset-3
                            input.form-control(
                            id="password",
                            type="password",
                            name="password",
                            placeholder="PASSWORD",
                            ng-model="password"
                            required="MANDATORY")
                    div.form-group
                        div.col-lg-12
                            input.btn.btn-primary(type="submit", value="CREATE")
    div.rowContentJoiners
        div.container
            h1.h1 WHO WILL JOIN THE PARTY
            div.container
                div.row#joiners.cf
                    div.partyMan.col-lg-1(ng-repeat='user in users')
                        div {{user.shortname}}
    div.rowContentHours.rowHeight
        div.container
            h1.h1 WHEN IS 100le DRINKING COFFEE
            h2.h2 {{coffeeTime}}
    div.rowContentTimeToWait.rowHeight
        div.container
            h1.h1 TIME TO WAIT
            h2.h2 {{timer.h}}h {{timer.m}}m {{timer.s}}s
    div.rowContentTimeSpend.rowHeight
        div.container
            h1.h1 HOW MUCH TIME WILL 100LE SPEND
            h2.h2 {{waste}}

