/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

@font-face {
    font-family: fontBoldOblique;
    src: url(/stylesheets/cantarell/Cantarell-BoldOblique.ttf);
}

html {
    font: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    color: #fffceb;
}

body {
    background-image: url("/images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fffceb;
}

.rowHeight {
    height: 220px;
    color: #fffceb;
    /*border-bottom: 1px solid rgba(213, 133, 18, 0.24);*/
}

.rowContentHeader {
    color: #fffceb;
    background: rgba(145, 65, 21, 0.2);
}

.rowHeight h1.h1 {
    color: #fffceb;
}

.rowContentHeader h1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    margin-top: 60px;
    font-size: 6.5em;
    font-family: fontBoldOblique;
}

.rowContentHours {
    background: rgba(77, 153, 61, 0.11);
}

.rowContentReserve {
    background: rgba(77, 153, 61, 0.11);
}

#whoWantsCoffeeLabel {
    text-align: center;
    font-size: 2.5em;
    color: #fffceb;
    margin-bottom: 15px;
    margin-top: 15px;
}

div.rowHeight h2 {
    color: #fffceb;
    font-size: 5.6em;
    font-weight: bold;
    text-shadow: 5px 1px 2px rgba(150, 150, 150, 0.2);
}

.rowContentTimeToWait {
    background: rgba(153, 102, 13, 0.11);
}

.rowContentTimeSpend {
    background: rgba(77, 153, 61, 0.11);
}

.partyMan div {
    height: 64px;
    width: 64px;
    display: block;
    margin: 10px auto 10px auto;
    font-size: 2em;
    padding-top: 10px;
    -webkit-box-shadow: 2px 1px 20px 0px rgba(50, 50, 50, 0.6);
    -moz-box-shadow:    2px 1px 20px 0px rgba(50, 50, 50, 0.6);
    box-shadow:         2px 1px 20px 0px rgba(50, 50, 50, 0.6);
}

#insertCoffeeDiv {
    height: 340px;
    display: none;
    background: rgba(24, 24, 24, 0.80);
}

#close {
    display: inline-block;
    height: 48px;
    width: 48px;
    margin-right: 15px;
    margin-top: 15px;
    background: url("/images/close.png");
    background-size: cover;
    position: relative;
    float: right;
    cursor: pointer;
}

.rowContentJoiners {
    height: auto;
    background: rgba(153, 102, 13, 0.11);
    color: white;
}

.errorDisplay {
    height: 30px;
    font-size: 1.5em;
    padding-top: 4px;
}